header{
    display: flex;height: 90px;background-color: rgb(255, 255, 255);
}
header .first{
    display: flex;align-items: center;justify-content: center;
}
.second{
    display: flex;margin: 5px;
}

.third{
    align-items: center;justify-content: center;display: flex;margin-left: 400px;font-family:'MV Boli';
}
.fourth{
    align-items: center;display: inline;margin-left: 400px;color: black;
}
.fa-solid{
    color: black;
}
ul{
    justify-content: center;align-items: center;
}
li{
    display: inline;margin: 3px;padding: 4px;text-decoration: none;font-size: 20px;
}
body{
width: 100%;background-color: rgb(255, 38, 38);

}

.third .btn{
  text-align: center;justify-content: center;align-items: center;color: rgb(158, 156, 156);
}
.third .btn:hover{
    border-bottom: 2px solid gold ;
}


.firstcontent{
  width: 100%;height: 700px; background-image: url('bannerBcg.jpeg');background-attachment:fixed;background-size:cover;
}
.container1{
    width: 100%;height: 100%;
 margin-left: 40px;margin-top: 20px;
}
#a11{
    font-family:'Pristina';font-size: 50px;
}
.container1 p{
    font-family: 'MV Boli';font-size: 43px;margin-top: -28px;
}

.seconddivision{
    width: 100%;height: 900px; background-image: url('home-filler.jpeg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;margin-top: 360px;font-family: 'MV boli';
}
.seconddivision0{
    display: flex;display: inline;margin-top: -20px;
}
.seconddivision1{
    background-color: white;width: 100%;height: 500px;display: flex;margin-top: -400px;flex-direction: row;justify-content: center;
}
.seconddivision1 img{
    width: 50px; height: 50px;
}
.secondfirst{
   align-items: center;justify-content: center;display: inline;margin: 60px;text-align: center;font-size: 20px;
}
.secondthird{
    align-items: center;justify-content: center;display: inline;margin: 60px;text-align: center;font-size: 20px;
}
.secondfourth{
    align-items: center;justify-content:center;display:inline;margin: 60px;text-align: center;font-size: 20px;
}
#s2{color: rgb(114, 115, 116);}
.seconddivision2{
    display: flex;flex-direction: row;align-items: center;width: 100%;margin-top: -270px;justify-content: center;
}
.division2first{
    width: 20%;padding: 3px;align-items: center;margin-left: 20px;
}
.division2second{
    display: flex;display: inline;justify-content: center;align-items: center;margin: 50px;
}
.division2second img{
    display: inline;width: 180px;height: 140px;margin: 9px;
}
.anchor{
    font-family: 'MV boli';text-decoration: none;color: black;
}
.anchor:hover{
    border-bottom: 2px solid gold; text-decoration: none;color: black;
}
.seconddivision3{
    display: flex;flex-direction: column;margin: 50px;justify-content: center;align-items: center;
}
.division3first{
    align-items: center;justify-content: center;display:inline
}
#anchor1:hover{
border-bottom: 2px solid gold;text-decoration: none;
}

.thirddivision{
    background-color:white;width: 100%;height: 900px;margin-top: -100px;display:flex;display: inline-block;font-family: 'MV Boli';
}
.thirddivision0{
    display: flex;width: 100%;
    justify-content: center;display: inline;text-align: center;
}
.thirddivision3{
    display: flex;display:inline-block;flex-direction: column;color: rgb(30, 30, 30);
}
.thirddivision1 img{
    width: 300px;height: 250px;
}
.thirddivision2 img{
    width: 300px;height: 250px;
}
.thirddivision1{
    text-align: center;display: flex; flex-direction: row;justify-content: center;align-items: center;
}
.thirddivision2{
    flex-direction: row;display: flex;justify-content: center;align-items: center;text-align: center;
}
.dabba1{
    background-color: rgb(175, 175, 175);margin: 10px;justify-content: center;align-items: center;text-align: center;padding: 30px;
}
.thirddivision3{
    display: flex;
}
.nakku{
 background-color: lightgray;padding: 10px;height: 300px;justify-content: center;align-items: center;display: flex;
}
.carousel-inner img{
    width: 200px;height: 180px;
}
#carouselExampleControls{width: 50%;justify-content: center;align-items: center;text-align: center;
}
.letterpad{
    background-color: white;margin-top: -20px;width: 100%;height: 250px;font-family: 'MV Boli';display: flex;display: inline-block; 
}
.newletter{
    text-align: center;display: flex;display: inline;justify-content: center;align-items: center;margin-left: 500px;margin-top: 5px;
}
form input{ 
    width: 600px;justify-content: center;align-items: center;display: inline;margin-top: 10px;height: 35px;
}
.form1{display: flex;display: inline-block;justify-content: center;align-items: center;

}
form .fa-solid{
    background-color: lightgray;padding: 10px;
}
.form1{
    display: flex;justify-content: center;align-items: center;display: inline;text-align: center;
}
.form1 #ddd{
   text-align: center;color: black;justify-content: center;margin-left: 650px;margin-top: 20px;
}
.footerda{
    background-color: rgb(19, 19, 38);width: 100%;height: 250px;display: flex;display: inline-block;color: white;font-family: 'MV Boli';
}
.footerda0{
    display: inline;flex-direction: row;display: flex; margin: 10px;padding: 10px;
}
.footerda1{
    display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: start;
}
.footerda2{
    display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: start;
}
.footerda3{
    display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: start;
}
.ending{
    background-color: rgb(118, 118, 118);width: 100%;height: 300px;margin-top: -20px;display: flex;
}
.comsloth h1{
        display:flex;text-align: center; color: rgb(255, 199, 56);font-family: 'MV Boli';margin-top: 30px;border: 4px solid goldenrod;position: absolute;flex-direction: column;margin-left: 650px;padding: 10px;
}
.iconsda{
    display: flex;justify-content: center;align-items: center;margin-top: 120px;position: absolute;flex-direction: row;margin-left: 710px;
}
.iconsda .fa-solid{
    margin: 20px;font-size: 20px;position: absolute;margin-left: 500px;
}
.cutoutda{
    display: flex;margin-top: 200px;justify-content: center;width: 700px;flex-direction: row;align-items: center;margin-left: 450px;
}